.registro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/imagenes/registro.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}