.viaje {
    position: relative;
    width: 20em;

    &-img {
        width: 20em;
    }

    &-offer {
        position: absolute;
        font-size: 1.26em;
        z-index: 0;
        top: 0;
        left: 0;
        padding: 1em;
        background-color: #19203a;
        color: white;
    }

    &-price {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 7.2em;
        padding: 1em;
        font-size: 1.75em;
        background-color: #ffef41;
        font-weight: bold;

    }

    &-name {
        text-align: center;
        padding: 1em;
        font-weight: bold;
    }
}