.Footer{

    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:rgb(20, 20, 70);
    color: white;

    .contenido{

           width: 80%;
           margin: auto;
           margin-bottom: 3%;
           display: flex;
           flex-direction: row;

           .col1{
                  width: 35%;
                  margin: auto;
                  margin-top: 4%;

                  h2{
                         margin-bottom: 7%;
                         margin-top: 0;
                  }

                  h4{
                         margin: 1% 0 1% 0;
                  }
           }

           .col2{
                  width: 30%;
                  margin: auto;
                  margin-top: 4%;

                  h2{
                         margin-top: 0;
                  }

                  h4{
                         margin: 1% 0 2% 0;
                  }
           }

           .col3{
                  margin-top: 4%;
                  width: 35%;
                  
                  h2{
                         margin-top: 0;
                  }

                  .redes{
                       margin-top: 10%;  
                       padding-right: 1%;         
                  }
           }
    }

    hr{
           width: 70%;
           border-color: black;
    }

    .copyright{
           width: 100%;
           text-align: center;
    }
}